/*===============================================*/
/* Homepage */
/*===============================================*/

:root {
    --projects-allowance: 50%;
}

html {
    background: var(--pink);
}

body {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
}

header span {
    display: inline-block;
    color: var(--accent);
    font-size: 25vw;
    line-height: .7;
    letter-spacing: -3vw;
}

header span:first-child {
    position: relative;
    z-index: 2;
}

header img {
    position: absolute;
    top: 0;
    right: -4vw;
    width: 50vw;
    image-rendering: pixelated;
}

main {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.intro {
    font: var(--mono);
    background: var(--glass);
    backdrop-filter: var(--filter-effect);
    padding: 4ch;
    margin: var(--page-margin);
    position: fixed;
    z-index: 1001;
}


/* projects
========================================================================== */

.projects {

}

h2 {
    color: var(--black);
    font: var(--mono);
    font-size: 2rem;
    letter-spacing: .5ch;
    line-height: 1;
    text-transform: uppercase;
    text-align: justify;
    word-break: break-all;
    margin: 0;
}


.projects {
    width: calc(100vw - 2px);
    margin: 40vw auto 0 auto;
    padding: var(--page-margin);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1ch;
    position: relative;
    z-index: 1001;
}

.project {
    height: calc(25vw - 1px);
    display: block;
    backdrop-filter: blur(5px);
    box-shadow: -2px 2px var(--black);
}

.project a {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    border: 1px solid var(--black);
    padding: 2ch;
    display: block;
    text-decoration: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project a:hover {
    background: var(--tint);
}
.project a:hover h2 {
    color: var(--pink);
}

.project .label {
    font: var(--mono);
    text-transform: uppercase; 
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1ch;
}

.label:first-of-type {
    margin-bottom: 1rem;
}

.label:first-of-type > *:last-child {
    text-align: right;
}

.label > *:last-child {
    list-style: none;
    font: var(--mono);
}


.projects .window {
    width: 100%;
    height: 100%;
    grid-row: 2 / span  1;
    grid-column: 2 / span 2; 
}


/*===============================================*/

@media screen and (max-width: 860px) { 
    
    .projects > div {
        grid-template-columns: 50% 50%;
        grid-template-rows: unset;
    }
    
    .project {
        width: 100%;
        height: unset;
    }
    
    .window {
        display: none;
    }
}

@media screen and (max-width: 720px) {   
    
    header, .intro {
        position: static;
    }

    main {
        margin-top: 1ch;
        display: block;
    }
}