/*===============================================*/
/* Homepage */
/*===============================================*/

:root {
    --tile-columns: 8;
}

@keyframes arrowPoint {
    0 { margin-left: 0px }
    20% { margin-left: 8px }
    80% { margin-left: 10px }
    100% { margin-left: 0px }
}

/* Header and Introduction
========================================================================== */

body {
    background: var(--primary-muted);
}

header {
    width: 100vw;
    height: calc(100vh + 1px);
    display: flex;
    position: relative;
    z-index: 1001;
}

.cat {
    background: url("../layout/catcat.png") no-repeat fixed left 15%;
    background-size: 60vw;
}

.intro {
    text-align: right;
    height: 100%;
    border-right: 1px solid var(--black);
    border-radius: 0 0 2rem 0;
    margin: 0 auto;
    flex: 0 0 72vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.intro .cat {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--page-margin) 2rem 2rem var(--page-margin);
}

.intro, .scroll {
    background: var(--secondary-muted) url("../layout/sketchbook.png") top left fixed;
    background-size: cover;
    border-bottom: 1px solid var(--black);
}

.full-mark {
    display: none;
}

h1 {
    letter-spacing: -.25rem;
    font-size: 10vw;
    text-align: right;
    text-transform: lowercase;
}

.intro ul {
    list-style: none;
}

.intro h3:first-child {
    margin-top: 0;
}

.dot {
    font-size: 12rem;
    position: absolute;
    bottom: 4vw;
    right: calc(28vw - .18ch);
    z-index: 1002;
    pointer-events: none;
}

.scroll {
    letter-spacing: var(--monokern);
    text-transform: uppercase;
    padding: var(--page-margin) var(--page-margin) 2rem 2rem;
    margin-left: -1px;
    flex: 0 1 calc(28vw + 1px);
    z-index: 1001;
    border-left: 1px solid var(--black);
    border-radius: 0 0 0 2rem;
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scroll h1 {
    text-align: left;
    margin-left: -1rem;
}

.scroll-msg {
    height: 100%;
    display: block;
}

.scroll-msg p {
    top: 1ch;
    position: sticky;
    color: var(--black);
    font: var(--mono);
    transform: rotate(90deg) translateY(-1rem);
    transform-origin: top left;

}

.scroll-msg span {
    animation: arrowPoint 2s ease-out 0s infinite;
}
.scroll-msg span:nth-child(2) {
    animation-delay: 0.25s;
}
.scroll-msg span:nth-child(3) {
    animation-delay: .5s;
}
 

/* Projects
========================================================================== */

main {
    width: 100%;
    max-width: unset;
    position: relative;
    top: -2rem;
    background: var(--primary-muted);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    image-rendering: crisp-edges;
}

main .cat {
    padding: calc(var(--page-margin) + 2rem) var(--page-margin) var(--page-margin) var(--page-margin);
}

h2 {
    color: var(--secondary);
    font: var(--mono);
    letter-spacing: var(--monokern);
    font-size: 2rem;
    font-variant-ligatures: none;
    line-height: 1;
    text-transform: uppercase;
    text-align: justify;
    margin: 0 0 1ch 0;
}

.projects {
    max-width: var(--max-page-size);
    padding: var(--page-margin) 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1ch;
}

.project {
    font: var(--mono);
    font-variant-ligatures: none;
}

.project a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2ch;
    border: 1px solid var(--black);
    color: var(--black);
    text-decoration: none;
    box-shadow: -2px 2px var(--black);
    transition: all .2s;
}

.project a:hover {
    background: var(--primary);
}
.project a:hover h2 {
    color: var(--accent);
}

.project .label {
    text-transform: uppercase; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1ch;
}

.label:first-of-type {
    margin-bottom: 1rem;
}

.label:first-of-type > *:last-child {
    text-align: right;
}

.label > *:last-child {
    list-style: none;
    font: var(--mono);
    font-variant-ligatures: none;
}


/* Other
========================================================================== */

.tiles {
    width: 100%;
    height: 100vh;
    padding: 4px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(var(--tile-columns), 1fr);
    align-items: flex-start;
    mix-blend-mode: color-burn;
}
.tile {
    width: calc( ( (72vw - 9px) / var(--tile-columns)) - 4px);
    height: calc( ( (72vw - 9px) / var(--tile-columns)) - 4px);
    display: block;
    border-radius: 11px;
    background: var(--primary);
    opacity: 0;
    transition: all .2s;
    transition-delay: 1s;
    border: 1px solid var(--highlight);
}

.tile:hover {
    opacity: 1;
    transition-delay: 0s;
}

/*===============================================*/

@media screen and (max-width: 860px) {
    
    :root {
        --tile-columns: 4;
    }
    
    header {
        display: block;
        height: 50vh;
    }
    
    .intro {
        width: 100%;
        border-right: none;
    }
    
    .cat {
        height: unset;
        background-size: 100%;
    }
    
    .intro .cat {
        width: 100%;
        padding: var(--page-margin);
        flex-direction: column-reverse;
    }
    
    h1 {
        text-align: left;
        letter-spacing: inherit;
    }
    
    .part-mark {
        display: none;
    }
    .full-mark {
        display: block;
    }
    .full-mark span {
        letter-spacing: -.25ch;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    .scroll, .tiles {
        display: none;
    }
    
    .projects {
        display: block;
        padding: 0;
    }
    
    .project {
        margin-bottom: var(--page-margin-small);
    }
    
        

}