/*===============================================*/
/* outtakes */
/*===============================================*/

/* Jump Links */

aside {
    padding-left: 0;
    padding-right: 0;
    border: none;
}

aside a {
    text-decoration: none;
}

aside p {
    margin-left: var(--page-margin);
}

aside button {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-align: right;
    padding-right: var(--gutter);
    margin-bottom: 1px;
}

aside button:hover {
    width: calc(100% + var(--gutter));
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

.project .grid:first-child img {
    height: 100%;
    align-self: center;
}

.grid {
    margin: calc(var(--gutter) / 2) 0;
    align-items: stretch;
}

.grid .grid {
    margin: 0;
}

.grid4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/*===============================================*/
/* Responsive */
/*===============================================*/

@media screen and (max-width: 720px) {
    
    aside button {
        text-align: left;
        clip-path: unset;
        padding-left: var(--page-margin);
    }
    aside button:hover {
        padding-left: calc(var(--page-margin) * 2);
    }
    
    .grid3, .grid4 {
        display: grid;
    }
    
    section {
        display: none;
    }
    
    section:target {
        display: block;
    }
    
}

