/*===============================================*/
/* Projects */
/*===============================================*/

body {
    min-height: 100vh;
}

/* Header */
/*===============================================*/

header {
    position: relative;
    background: var(--white) no-repeat center;
    background-size: cover;
    z-index: 100;
}

header > * {
    padding: 1ch var(--page-margin) 1rem var(--page-margin);
}

header h1 {
    color: var(--black);
    text-shadow: var(--highlight) -1px 1px, var(--main) -1px -1px;
    line-height: 6rem;
}

/*Details*/
.tag { 
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(2rem + 8px);
    right: 0;
}
.tag p {
    font: var(--mono);
    font-variant-ligatures: none;
    letter-spacing: var(--monokern);
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 4px;
    margin-right: 1rem; 
    margin-bottom: 0;
    color: var(--white);
    background: var(--black);
    backdrop-filter: var(--filter-effect)
}


.details, nav, footer {
    font: var(--mono);
    font-variant-ligatures: none;
    letter-spacing: var(--monokern);
    text-align: right;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
    border: var(--black) 1px solid;
    border-width: 1px 0;
    background: var(--white);
}

.details {
    text-transform: capitalize;
}

nav, footer {
    text-transform: uppercase; 
}

.details li span:first-child::after {
    content: '→';
    padding: 0 12px;
}

/* Nav and Footer */
/*===============================================*/

nav, footer {
    padding: 4px var(--page-margin) 4px calc(var(--page-margin) - 2ch);
}

nav {
    color: var(--black);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
    background: var(--white);
    backdrop-filter: var(--filter-effect);
    border-top: none;
}

nav a, footer a, nav a:visited, footer a:visited {
    color: var(--inherit);
    text-decoration: none;
}

nav a:hover, footer a:hover {
    color: var(--accent);
}

footer {
    text-align: right;
    background: var(--white);
}

footer a {
    margin-left: auto;
}

/* Columns */
/*===============================================*/

.columns {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid var(--black);
}

main .columns:only-child {
    border-bottom: none;
}

.summary {
    width: 36%;
    height: 100%;
    flex: 1 0 36%;
    top: 0;
    position: sticky;
}

.summary h3 {
    border-left: calc(var(--page-margin) - 1ch) solid var(--main);
    padding-left: 1ch;
}

.summary div:first-child h3 {
    margin-top: 0;
}

.summary p {
    padding-left: var(--page-margin);
}

.summary section {
    padding: 6ch 6ch 6ch 0;
}


/* Sections */
/*===============================================*/


/*Sections not in columns*/

section {
    padding: 6ch var(--page-margin);
}

/*Other spacing*/

.spacearound {
    padding: calc(var(--page-margin) / 2);
}


/* Grid */
/*===============================================*/

.grid {
    display: grid;
    grid-gap: 2px;
    position: relative;
}

.grid + .grid { margin-top: 2px; }

.grid1 { grid-template-columns: auto; }
.grid2 { grid-template-columns: 1fr 1fr; }
.grid3 { grid-template-columns: 1fr 1fr 1fr; }


/* For screenshots */
.grid.neater {
    background: var(--black);
    grid-gap: var(--page-margin);
    padding: var(--page-margin);
}
.grid.neater * {
    border-radius: 6px;
}

.square {
    background: var(--white);
}

.dark {
    background: var(--black);
}

/* Use sparringly */
.white {
    background: white;
}

/* Images */
/*===============================================*/

.grid img {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.center {
    padding: var(--page-margin);
    margin: 0 auto;
}

.square img {
    filter: grayscale();
    opacity: .8;
    mix-blend-mode: multiply;
    cursor: pointer;
    transition: opacity .25s ease, background .5s ease;
}

.square:hover img, img.active {
    filter: none;
    mix-blend-mode: normal;
    opacity: 1;
}

img.active {
    width: 100%;
    height: 100%; 
    object-fit: contain;
    position: absolute;
    z-index: 100;
    padding: 6ch;
    background: var(--tint);
    backdrop-filter: blur(6px);
    left: 0;
    top: 0;
}

img.outline {
        border: 1px solid var(--black);
}

.grid figure img {
    object-fit: contain;
}

.fill {
    object-fit: cover;
    height: 100%;
    width: calc(100% + var(--page-margin)); 
}

.fill img, .fill {
    object-fit: cover !important;
}

.no-gap {
    grid-gap: 0;
}

/* Text for Images */
/*===============================================*/

.columns > *:last-child h3 {
    background: var(--black);
    margin: 2px 0;
    padding: 4px 1ch;
    color: var(--white);
}
.columns > *:last-child h3:first-child {
    margin-top: 0;
}

.description {
    margin: 0 6ch;
}

.grid .description:first-child {
    margin-left: 0;
}
.grid .description:last-child {
    margin-right: 0;
}

figcaption {
    padding-right: 6ch;
    font: var(--mono);
    font-variant-ligatures: none;
    letter-spacing: var(--mono-kern);
}
figcaption span:last-child {
    font: var(--body);
    display: block;
    max-width: 64%;
}

.middle {
    align-self: center;
}

/*===============================================*/
/* Responsive */
/*===============================================*/

@media screen and (max-width: 720px) {   
    .columns {
        display: block;
    }
    
    .columns > * {
        position: static;
        width: 100%;
        margin: unset;
    }
    
    .details {
        display: block;
        text-align: left;
    }
    
    section .grid {
        display: block;
    }
    
    .grid .description {
        margin: 4ch 0;
    }

}

