/*===============================================*/
/* Projects */
/*===============================================*/

body {
    min-height: 100vh;
/*
    margin: var(--gutter);
    width: calc(100% - (var(--gutter) * 2));
    border: 1px solid var(--black);
*/
}

header {
    margin-top: calc(1rem + 8px);
}

.details ul {
    list-style: none;
}

#work {
    display: flex;
}


#work main {
    flex: 1 1 64%;
}

main.black {
    background: var(--black);
}

aside {
    font: var(--body-smaller);
    max-width: calc( var(--max-page-size) * .36);
    flex: 0 0 36%;
    padding: var(--gutter) var(--page-margin) var(--page-margin-small) var(--page-margin);
    border-right: 1px solid var(--black);
}

aside > div {
    top: var(--page-margin-small);
    position: sticky;
}

/* Header */
/*===============================================*/

header {
    font: var(--body-smaller);
    padding: calc(32px + var(--page-margin-small)) var(--page-margin) var(--page-margin-small) var(--page-margin);
    border-bottom: 1px solid var(--black);
    position: relative;
}

header > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

header, .section-header {
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-color: var(--primary-muted);
}
.section-header {
    background-position: bottom left;
}


header .title {
    width: 100%;
    flex: 1 0 64%;
/*    max-width: calc(var(--max-page-size) * .64);*/
    align-self: flex-end;
    color: var(--black);
    padding-right: var(--gutter);
}

header h1, header h2 {
    margin: 0;
    border: none;
}

header h2 {
    margin-bottom: -.5rem;
}

header h1:only-child {
    margin-bottom: -1rem;
}


header .details {
    flex: 0 0 36%;
    padding-left:var(--gutter);
    border-left: 1px solid var(--black);
}

.section-header {
    padding: var(--page-margin) var(--page-margin) var(--gutter) var(--page-margin);
    border: 1px solid var(--black);
    border-width: 1px 0;
    text-align: right;
}

header .title, .section-header {
    text-shadow: -2px 2px var(--primary-muted);
}

/* Aside */
/*===============================================*/


.label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1ch;
}

.label > *:last-child {
    font-weight: normal;
}

.tag { 
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.tag p {
    font: var(--mono);
    font-variant-ligatures: none;
    letter-spacing: var(--monokern);
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 4px;
    margin-right: 1rem; 
    margin-bottom: 0;
    color: var(--white);
    background: var(--black);
    backdrop-filter: var(--filter-effect)
}

.deliverables {
    margin-top: 2rem;
}
.deliverables > a {
    display: block;
}

.details li span:first-child::after {
    content: '→';
    padding: 0 12px;
}

/* Final Comp */
/*===============================================*/

#work main {
    padding: var(--gutter);
}

/* Process */
/*===============================================*/

h2 {
    padding: 2rem 0 1rem 1ch;
    border-left: calc(var(--page-margin) - 1ch) solid var(--black);
    border-bottom: 2px solid var(--black);
    margin-bottom: 1rem;
}

article h3:not(:first-child) {
    margin-top: 2rem;
}

article {
    padding-bottom: var(--page-margin);
}

article > div {
    padding: 0 var(--page-margin);
}

.figures.full {
    grid-column: 1 / span 2;
}

.figures.right {
    grid-column: 2 / span 1;
}

.figures figure:not(:only-child) {
    margin-top: var(--gutter);
}

figcaption {
    font: var(--body-smaller);
    font-weight: 600;
    letter-spacing: .5pt;
    margin-top: var(--gutter);
    padding-left: var(--gutter);
    margin-right: var(--gutter);
    border-left: 1px dotted var(--secondary);
}
figcaption span:last-child {
    font-weight: normal;
    display: block;
    max-width: 66ch;
}


quote {
    text-shadow: -2px 2px var(--primary);
    font: var(--headers);
    font-size: 4rem;
    line-height: 1.1;
    margin: 1rem;
}
quote::before {
    content: '“';
    margin-left: -1ch;
}
quote::after {
    content: '”';
}

.testinfo {
    margin: 1rem 0;
    border: 1px solid var(--primary);
    padding: var(--gutter) calc(var(--gutter) * 2);
}
.testinfo h3 { margin-top: 0; }



/* Grid */
/*===============================================*/

.grid {
    width: 100%;
    display: grid;
    grid-gap: var(--gutter);
    position: relative;
    margin-bottom: var(--gutter);
}

.grid:only-child { margin-bottom: 0; }

.grid + .grid { margin-top: 2px; }

.grid1 { display: block }
.grid1 > * { margin-bottom: var(--gutter); margin-right: var(--gutter)}
.grid2 { grid-template-columns: 1fr 1fr; }
.grid3 { grid-template-columns: 1fr 1fr 1fr; }

.grid:last-child { margin-bottom: 0; }

/* For screenshots */
.grid.neater * {
    border-radius: 6px;
}

.square {
    background: var(--white);
}

.dark {
    color: var(--white);
    background: var(--black);
}

/* Use sparringly */
.white {
    color: var(--black);
    background: var(--white);
}

/* Images */
/*===============================================*/

.grid img {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.center {
    padding: var(--page-margin);
    margin: 0 auto;
}

.square img {
    filter: grayscale();
    opacity: .8;
    mix-blend-mode: multiply;
    cursor: pointer;
}

.square, .square > *{
    transition: opacity .25s ease, background .5s ease;
}

.square:hover img, .square.active img {
    filter: none;
    mix-blend-mode: normal;
    opacity: 1;
}


.square.active {
    width: calc(100% - (var(--page-margin) * 2));
    height: calc(100% - (var(--page-margin) * 2)); 
    object-fit: contain;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: var(--page-margin);
    border: 1px solid var(--black);
    background: var(--screen);
    backdrop-filter: blur(3px) contrast(2) saturate(3);
    left: 0;
    top: 0;
}

.square.active img {
    width: auto;
    max-height: calc(100% - 3rem);
    margin-top: 1rem;
}

.square.active::after {
    content: 'Click again to close.';
    color: var(--white);
    text-shadow: 1px 1px var(--black), -1px -1px var(--black), 1px 0px var(--primary);
    letter-spacing: 1pt;
    margin-top: 1rem;
    text-shadow: ;
}

img.outline {
    border: 1px solid var(--black);
}

.grid figure img {
    object-fit: contain;
}

.no-gap {
    grid-gap: 0;
}

img.wide {
    width: 100%;
}

/* Nav and Footer */
/*===============================================*/

nav, footer {
    color: var(--white);
    font: var(--mono);
    font-variant-ligatures: none;
    letter-spacing: var(--monokern);
    text-align: right;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 4px var(--page-margin) 4px calc(var(--page-margin) - 1.5ch);
    background: var(--black);
}


nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
}

nav a, footer a {
    display: block;
    max-width: var(--max-page-size);
}

nav a, footer a, nav a:visited, footer a:visited {
    color: var(--inherit);
    text-decoration: none;
}

nav a:hover, footer a:hover {
    color: var(--primary);
}

footer {
    text-align: right;
}

footer a {
    margin-left: auto;
}

/*===============================================*/
/* Responsive */
/*===============================================*/

@media screen and (max-width: 786px) { 
    
    header > div {
        display: block;
    }
    
    header h1:only-child {
        margin-bottom: unset; 
    }
    
    .container {
        display: block;
    }
    
    main, aside {
        max-width: unset;
        width: 100%;
        padding: var(--page-margin-small);
    }
    
    section {
        padding: unset;
        padding: var(--page-margin) var(--page-margin-small);
    }
    
    .figures {
    grid-column: 1 / span 2;
    }
    
    .grid {
        display: block;
    }
    .grid > * {
        margin-bottom: var(--gutter);
    }

}

